body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Calibri", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root .MuiSwitch-colorSecondary.Mui-checked {
  color: white;
}
#root .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: orangered;
}
#root .MuiTypography-colorPrimary {
  color: #333;
  font-weight: 600;
}
#root .MuiChip-root.active-tab {
  background-color: white;
}
#root .MuiChip-root.inactive-tab {
  background-color: transparent;
}
